*{
    margin: 0;
    padding: 0
}
body{
    background-color: rgb(237, 237, 237);    
        -moz-user-select:none;/*火狐*/
        -webkit-user-select:none;/*webkit浏览器*/
        -ms-user-select:none;/*IE10*/
        -khtml-user-select:none;/*早期浏览器*/
        user-select:none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    float: left;
}
#N{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 35px;
    color: darkslategrey;
}

.search{
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: relative;
}

#search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 650px;       
}


#search ul {
    width: 470px;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #e9e9e9;
    color: #999;
}
#search ul li{
    height: 32px;
    width: 48px;
    line-height: 32px;
    text-align: center;
    cursor:pointer;
}
.act{
    border-bottom: 2px solid #444;
    color: #444;
}
#search form{
    position: relative;
}
#search form span{
    display: none;
    position: absolute;
    right: 200px;
    top: 30px;
    cursor:pointer;
    color: #333;
    font-weight: 900;
}

#search input{
    font-size: 16px;
    outline: none;
    width: 440px;
    height: 46px;
    background-color: #f5f5f5;
    margin-top: 20px;
    border: none;
    padding: 0 15px;
    color: #333;
    line-height: 26px;
}
#search form button{
    height: 46px;
    width: 130px;
    color: #fff;
    padding: 0 15px;
    cursor:pointer;
    background-color: #444;
    margin-left: 25px;
    border: none;

}
/* 导航 */

#site-main{
    margin: 50px auto;
    max-width: 1200px;
    background-color: #f7f7f7;;
}
.container{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}


/* 导航tab */
.tab_list{
    padding-bottom: 19px;
}
.tab_list ul{
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    list-style: none;
    width: 780px; 
}
.tab_list ul li{
    text-align: center;
    width: 80px;
    height: 36px;
    line-height: 36px;
    cursor:pointer;
}
.tab_list ul li:hover{
    background: #ccc;  
    transition:all 0.3s ease-in;
}
.tab_list input{
    width: 80px;
    height: 36px;
    outline: none;
}
.tab_list .active{
    background: #ccc;  
}

/* 链接 */
.info{
    display: none;
}
.info input{
    width: 60px;
    height: 30px;
    outline: none;
}
.info ul{
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    list-style: none; 
    font-size: 16px;
}
.info ul li{
    text-align: center;
    width: 120px;
    padding: 9px 0;
    height: 42px;
    line-height: 42px;
    cursor:pointer;
}
.info ul li a{
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    min-width: 75%;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
}
.info ul li:first-child{
    color: #999;
}
.info ul li a:hover{
    background-color: #ccc;
}
#img{
    margin-top: 30px;
    height: 350px;
   
}
#img #img1{
    display: inline-block;
    width: 800px;
    height: 350px;
    background-image: url("./img/55.jpg") ;
    background-size: 800px 350px;
}
#img #img1 div{
    height: 100%;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 1s;
    opacity: 0
}
#img #img1 div:hover{
    opacity: 1;
    transition-duration: 1s;
}
.abc{
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 16px;
}
#img #img2 div{
    height: 100%;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition-duration: 1s;
    opacity: 0
}
#img #img2 div:hover{
    opacity: 1;
    transition-duration: 1s;
}
.abcd{
    text-align: center;

    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 16px;
}
.abcd a{
    color: blanchedalmond;
}

#img #img2{
    float: right;
    width: 400px;
    height: 350px;
    background-image: url("./img/66.jpg") ;
    background-size: 400px 350px;
}

#img1a{
   color: 50px;
   font-size: red;
}

#footer{
    height: 150px;
    background-color: #fff;
    padding-top: 100px;
}
#footer p{
    padding-top: 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
}